---
interface CardProps {
  name: string;
  description: string;
  imgSrc: string;
  route: string;
  slug?: string;
}
const { name, description, imgSrc, route, slug} = Astro.props as CardProps;
---

<article class="card">
  <a href={route}>
    <div class="card__header">
      <img transition:name={slug} src={imgSrc} alt={name} class="card___img" />
    </div>
  </a>
  <div class="card__body">
    <a href={route}><h3 class="card___name">{name}</h3></a>
    <p class="card___description">{description}</p>
  </div>
  <slot />
</article>
